<div class="about">
    <div class="logo">
        <a class="imageLink" href="http://grass-next.am.szczecin.pl" target="_blank"><img src="../assets/grass-next-logo.jpg"></a>
    </div>

    <h1><span class="greenLetters">GR</span>een <span class="greenLetters">A</span>nd <span class="greenLetters">S</span>u<span class="greenLetters">S</span>tainable
        – k<span class="greenLetters">N</span>owledge <span class="greenLetters">EX</span>panded freight <span class="greenLetters">T</span>ransport in cities</h1>

    <div class="spacer"></div>

    <p>
    Nowadays, urban areas face the challenge of making transport sustainable in environmental and competitiveness terms
    while at the same time addressing social concerns. Due to that the municipalities, stakeholders and users of urban
    freight transport are still looking for measures, which could reduce the negative impact of freight transport on city
    environment. In recent years many activities have been realized in this area. However, to meet the high level of
    efficiency and usefulness of sustainable, environmental friendly transport systems in cities, the appropriate, relevant
    to the expectations of different stakeholders groups, implementation processes are needed. Due to that it is necessary
    to test new independent methods and technology for data collection and data collection processes.
    </p>
    <p>
    By doing this, the project GRASS-NEXT (GReen And SuStainable – kNowledge EXpanded freight Transport in cities) will
    increase the effectiveness of planning processes on different management levels, based on SMART objectives and plans.
    The project will fulfil this gap by utilizing telematics solutions as well as utilization of web-based tools, which are
    helpful for both businesses and authorities in the planning processes. The demonstration of data collection and data
    collection systems will help to significantly increase the efficiency, sustainability and environmental impacts from
    urban transport systems. Missing data on urban traffic flows is one of the barriers for planning and implementing
    Sustainable Urban Logistics Plans (SULP’s). Better available data of traffic flows will help in the process to involve
    the communities and different city users in the planning, implementation and development processes of preparing
    Sustainable Urban Logistics Plans
    </p>

    <div class="spacer"></div>
    <hr>

    <div class="sponsors">
        <a class="imageLink" href="https://www.gov.pl/web/ncbr-en" target="_blank"><img class="ncbr" src="../assets/ncbr_alpha.svg"></a>
        <a class="imageLink" href="https://eeagrants.org" target="_blank"><img class="norwayGrants" src="../assets/norway_grants.png"></a>
        <a class="imageLink" href="https://wiet.am.szczecin.pl/pl/" target="_blank"><img class="politechnika" src="../assets/politechnika_morska.png"></a>
        <a class="imageLink" href="https://www.toi.no/english/?lang=en_GB" target="_blank"><img class="toi" src="../assets/toi.png"></a>
        <a class="imageLink" href="https://www.vitronic.com/en-us/corporate-home" target="_blank"><img class="vitronic" src="../assets/vitronic.png"></a>
    </div>
</div>
