<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="spinner-wrapper" *ngIf="this.isRequestSent">
    <mat-spinner color="primary" diameter="100"></mat-spinner>
</div>

<div fxLayout="column wrap" fxLayoutAlign="center center">
    <div class="topSpacer"></div>
    <h1 class="formTitle">Measurement parameters</h1>
    <div class="afterTitleSpacer"></div>

    <div class="location" fxLayout="column wrap" fxLayoutAlign="center center">
        <mat-form-field class="locationFormField">
            <mat-label>Country</mat-label>
            <mat-select [(value)]="selectedCountry" (selectionChange)="changeStateShowValue()">
                <mat-option>None</mat-option>
                @for (c of countries; track c) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="midSpacer"></div>

        <mat-form-field class="locationFormField">
            <mat-label>State</mat-label>
            <mat-select [(value)]="selectedState" [disabled]="isStateDisabled" (selectionChange)="changeCityShowValue()">
                <mat-option>None</mat-option>
                @for (s of states; track s) {
                <mat-option [value]="s">{{s}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="midSpacer"></div>

        <mat-form-field class="locationFormField">
            <mat-label>City</mat-label>
            <mat-select [(value)]="selectedCity" [disabled]="isCityDisabled" (selectionChange)="changeDetectorShowValue()">
                <mat-option>None</mat-option>
                @for (ct of cities; track ct) {
                <mat-option [value]="ct">{{ct}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field class="fullWidthFormField">
        <mat-label>Detector</mat-label>
        <mat-select [(value)]="selectedDetector" [disabled]="isDetectorsDisabled" (selectionChange)="changeDateTimeShowValue();centerToTopoDetector()">
            <mat-option>None</mat-option>
                @for (d of detectors; track d) {
                <mat-option [value]="d">{{d.locationName}}</mat-option>
                }
            </mat-select>
    </mat-form-field>

    <div class="date" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="dateFormField">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" [disabled]="isDateTimeDisabled" (dateChange)="changeVehiclesShowValue()">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [dateClass]="dateClass" [startAt]="startDate" #picker></mat-datepicker>
        </mat-form-field>

        <div class="midSpacer"></div>

        <mat-form-field class="timeFormField">
            <mat-label>Time</mat-label>
            <mat-select [(value)]="selectedTime" [disabled]="isDateTimeDisabled" (selectionChange)="changeVehiclesShowValue()">
                <mat-option>None</mat-option>
                    @for (t of times | keyvalue; track t) {
                    <mat-option [value]="t">{{t.value}}</mat-option>
                    }
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field class="fullWidthFormField" *ngIf="isVehiclesListDisabled">
        <mat-label>Vehicle Types</mat-label>
        <mat-select [disabled]="true">
        </mat-select>
    </mat-form-field>
    <mat-form-field class="fullWidthFormField" *ngIf="!isVehiclesListDisabled">
        <mat-label>Vehicle Types</mat-label>
        <mat-select [formControl]="vehicleTypes" multiple (selectionChange)="enableButton()">
            <mat-select-trigger>
                {{vehicleTypes.value?.[0]?.description || ''}}
                @if ((vehicleTypes.value?.length || 0) > 1) {
                <span class="example-additional-selection">
                    (+{{(vehicleTypes.value?.length || 0) - 1}} {{vehicleTypes.value?.length === 2 ? 'other' : 'others'}})
                </span>
                }
            </mat-select-trigger>
            @for (vg of vehicleGroups; track vg) {
            <mat-option [value]="vg">
                <div [innerHTML]="vg.vehicleGroup"></div>
            </mat-option>
            }
        </mat-select>
    </mat-form-field>



    <div class="extraInfo" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="extraInfoFormField">
            <mat-label>Pollution Type</mat-label>
            <mat-select [(value)]="selectedPollution" (selectionChange)="enableButton()">
                <mat-option>None</mat-option>
                @for (pt of pollutionTypes; track pt) {
                <mat-option [innerHTML]="pt.pollutionType" [value]="pt">{{pt.description}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="midSpacer"></div>

        <mat-form-field class="extraInfoFormField">
            <mat-label>Weather Stability</mat-label>
            <mat-select [(value)]="selectedWeatherStab" (selectionChange)="enableButton()">
                <mat-option>None</mat-option>
                @for (ws of weatherStabilities; track ws) {
                <mat-option [value]="ws">{{ws.weatherStability}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="sliderStyle" fxLayout="column wrap" fxFlex="100%" fxLayoutAlign=" center">
        <div class="sliderLabels" fxLayout="row wrap" fxLayoutAlign="center center">
            <label class="label">Area: {{resolutionValue * resolutionValue / 1000000}} km<sup>2</sup> ({{resolutionValue}} m x {{resolutionValue}} m)</label>
            <div class="midSpacer"></div>
            <label class="label"></label>
        </div>
        <mat-slider style="width: 100%;" min="1000" max="5000" step="500" value="value" showTickMarks>
            <input  matSliderThumb [(ngModel)]="resolutionValue" #slider (input)="calculateAreaBox()">
        </mat-slider>
    </div>

    <div class="topSpacer"></div>
    <div class="buttonContainer" fxLayout="row wrap">
        <button class="calculateButton" mat-raised-button color="success" (click)="runMeasureButton()" [disabled]="isButtonDisabled">Measure</button>
        <div class="buttonSpacer"></div>
        <button class="clearAllOptions" mat-raised-button color="success" (click)="clearAllOptions()">Clear</button>
    </div>
    <div class="topSpacer"></div>
</div>
