.mat-toolbar {
    background-color: #008956;
    color: white;
    height: 60px;
}

.mat-button {
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

img {
    padding-right: 10px;
    padding-top: 5px;
    height: 100%;
}

.menuButtons {
    font-size: large;
    height: 100%;
}

.toolbarTitles {
    height: 100%;
}

.infoButton {
    padding-top: 17.5px;
}

.grassNext {
    height: 55px;
    margin: 10px 0px 0px 15px;
}

.ncbr {
    height: 30px;
    margin: 10px 0px 0px 15px;}

.norwayGrants {
    height: 35px;
    margin: 10px 0px 5px 15px;
}

.aboutSpacer {
    margin-left: 48px;
}

.imageLink {
    margin: 0px;
}
